body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: lightblue;
  border: 5px solid blue;
  border-radius: 50px;
  padding: 20px;
}
.table {
  display: table;
  border-spacing: 10px;
}
.row {
  display: table-row;
}
.table-cell {
  display: table-cell;
  vertical-align: top;
}
#header {
  background-color: #1a2588;
  margin: 10px 10px 0 10px; /* removes bottom margin which does not collapse with top border-spacing */
  height: 160px;
  border: 4px dotted rgb(255, 255, 255);
  border-radius: 50px;
}
#moto {
  background-color: #1a2588;
  border: 4px dotted rgb(255, 255, 255);
  border-radius: 50px;
}
#trails {
  background-color: #1a2588;
  border: 4px dotted rgb(255, 255, 255);
  border-radius: 50px;
}
#ebike {
  background-color: #1a2588;
  border: 4px dotted rgb(255, 255, 255);
  border-radius: 50px;
}
#sidebar {
  background-color: #0130caab;
  border: 4px dotted rgb(255, 255, 255);
  border-radius: 50px;
  font-size: 105%;
  padding: 15px;
  margin: 0px 10px 10px 10px;
  width: 280px;
}
#copyright {
  color: red;
}
#landing {
  background-color: #1a2588;
  padding: 20px;
  border-radius: 50px;
}
h1,
h2 {
  font-family: copperplate, sans-serif;
}
h1 {
  font-size: 300%;
  text-decoration: underline;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
h2 {
  font-size: 200%;
  color: rgb(255, 255, 255);
}
h3 {
  text-decoration: underline;
}

img {
  border: 5px solid rgb(255, 255, 255);
}
p {
  padding: 0px 100px 0px 100px;
}

ul {
  padding: 0px 300px 0px 300px;
}

.racing {
  font-weight: bold;
}
.power {
  font-weight: bold;
}
.carbon {
  color: green;
  font-weight: bold;
}
a:link {
  color: #ff0000;
}
a:visited {
  color: #ffffff;
}
a.active {
  color: #00ccff;
}
a.focus {
  border: #1a0077 thick solid;
}
a.hover {
  color: lightblue;
  transition: 500ms;
}

@media print {
  body {
    font-family: webdings, fantasy;
  }
}
